*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all .5s;
}
.btn:hover{
    background-color: #034820;
}
/* hero section  */

#hero{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    overflow: hidden;
    height: 674px;
}
.text{
    text-align: center;
    color: white;
    max-width: 770px;
    justify-content: center;
    margin: 150px auto 0px;
}
button{
    background-color: white;
    color: #30B868;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    margin-bottom: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
}
button:hover{
    background-color: #e1e0dc;
}
.text h1{
    font-size: 75px;
    margin-bottom: 16px;
}
span{
    color: #30B868;
}
.text p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
}
.btm{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all .5s;
}
.btm:hover{
    background-color: black;
}
.buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    
}

/* notes section  */
#notes{
    margin-top: 50px;
}
.heading{
    text-align: center;
    margin: 0 auto 44px;
}
.heading h1{
    font-size: 45px;
    margin-bottom: 16px;
}
.heading p{
    color: #627382;
    font-size: 14px;
}
.card-box{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    max-width: 1360px;
}
.card{
    padding: 70px 24px 21px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.034);
    text-align: center;
    border-radius: 5px;
}
.card img{
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    max-width: 274px;
}
/* second brain */
#second-brain{
    padding: 120px;
}
.brain-box{
    display: flex;
    gap: 60px;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 30px;
}
.right{
    margin: 100px 0 100px 0;  
}
.right h5{
    margin-bottom: 16px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}
.right h1{
    margin-bottom: 16px;
    font-size: 48px;
    
}
.right p{
    line-height: 22px;
    margin-bottom: 40px;
    color: #627382;
}
.h4{
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
}
/* more think */
#think-more{
    margin: 0 120px 120px 120px;
}
.think{
    background-color: #F7F6F2;
    padding: 80px;
    border: none;
    border-radius: 8px;
    text-align: center;
}
.think h1{
    font-size: 40px;
    margin-bottom: 16px;
}
.think .par{
    color: #627382;
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 15px;
}
.think .btn{
    margin: 0 auto;
    margin-bottom: 16px;
    filter: drop-shadow( 3px 5px 5px   rgba(0, 0, 0, 0.132));
}
.seconnd-par{
    display: flex;
    gap: 6px;
    justify-content: center;
    color: #627382;
    font-size: 15px;
    align-items: center;
}
.circle{
    background-color: #627382;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}
/* footer */
footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px;

    justify-content: center;
}
.foot-text img{
    margin-top: 20px;
}
.foot{
    display: flex;
    gap: 1000px;
    margin: 0 auto 85px;
    align-items: center;
}


.foot-text p{
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
}
.foot-text .icons {
    display: flex;
    gap: 16px;

}
.foot-text .icons img{
    height: 20px;
    width: 20px;
    align-items: center;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.135);
}
footer p{
    color: #FAFAFA;
    text-align: center;
    margin-top: 30px;
}
