*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* hero section  */

#hero{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    overflow: hidden;
    height: 674px;
}
.text{
    text-align: center;
    color: white;
    max-width: 770px;
    justify-content: center;
    margin: 150px auto 0px;
}
button{
    background-color: white;
    color: #30B868;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    margin-bottom: 16px;
    font-weight: 500;
}
.text h1{
    font-size: 75px;
    margin-bottom: 16px;
}
span{
    color: #30B868;
}
.text p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
}
.btm{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
}
.buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    
}

/* notes section  */
#notes{
    margin-top: 50px;
}
.heading{
    text-align: center;
    margin: 0 auto 44px;
}
.heading h1{
    font-size: 45px;
    margin-bottom: 16px;
}
.heading p{
    color: #627382;
    font-size: 14px;
}
.card-box{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    max-width: 1360px;
}
.card{
    padding: 70px 24px 21px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.034);
    text-align: center;
    border-radius: 5px;
}
.card img{
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    max-width: 274px;
}